{% macro set_parameter(parameter, interface) %}
{% if parameter == 'adminstate' %}
{%   if 'adminstate' in interface %}
{%     if interface['adminstate'] == True or interface['adminstate'] == "enabled" %}no shutdown
{%     elif interface['adminstate'] == False or interface['adminstate'] == "disabled" %}shutdown
{%     else %}shutdown
{%     endif %}
{%   else %}shutdown
{%   endif %}
{% endif %}
{# #}
{% if parameter == 'description' %}
{%   if 'description' in interface and interface['description'] != None %}
{%     if interface['description']|length > 0 %}description {{ interface['description'] }}
{%     else %}no description
{%     endif %}
{%     if interface['description'] == None %}no description
{%     endif%}
{%   else %}no description
{%   endif %}
{% endif %}
{# #}
{% if parameter == 'portmode' %}
{%   if interface['portmode'] != "trunk" %}
switchport mode access
no switchport trunk native vlan
no switchport trunk allowed vlan
no switchport trunk encapsulation dot1q
{%     if 'vlan' in interface %}switchport access vlan {{ interface['vlan'] }}
{%     else %}switchport access vlan 1
{%     endif %}
spanning-tree portfast
!spanning-tree bpduguard enable
{%   endif %}
{%   if interface['portmode'] == "trunk" %}switchport trunk encapsulation dot1q
switchport mode trunk
no spanning-tree portfast
no spanning-tree bpduguard enable
no switchport access vlan
{%     if 'vlan' in interface %}switchport trunk allowed vlan {{ interface['vlan'] }}
{%     else %}switchport trunk allowed vlan none
{%     endif %}
{%     if 'nativevlan' in interface %}switchport trunk native vlan {{ interface['nativevlan'] }}
{%     else %}no switchport trunk native vlan
{%     endif %}
{%   endif %}
{% endif %}
{# #}
{% if parameter == 'voicevlan' %}
{%   if 'voicevlan' in interface %}
{%     if interface['voicevlan'] == None %}
no switchport voice vlan
{%     else %}
switchport voice vlan {{ interface['voicevlan'] }}
{%     endif %}
{%   else %}
no switchport voice vlan
{%   endif %}
{% endif %}
{# #}
{% if parameter == 'poe' %}
{%   if 'poe_supported' == True %}
{%     if 'poe' in interface %}
{%       if interface['poe'] %}power inline auto
{%       endif %}
{%       if not interface['poe'] %}power inline never
{%       endif %}
{%     endif %}
{%   endif %}
{% endif %}
{# #}
{% if parameter == 'cdp' %}
{%   if 'cdp' in interface %}
{%     if interface['cdp'] %}cdp enable
{%     endif %}
{%     if not interface['cdp'] %}no cdp enable
{%     endif %}
{%   else %}cdp enable
{%   endif %}
{% endif %}
{# #}
{% if parameter == 'portsecurity' %}
{%   if 'portsecurity' in interface %}
{%     if interface['portsecurity'] == "none" %}no switchport port-security
{%     elif interface['portsecurity'] == 'sticky' %}
switchport port-security
switchport port-security mac-address sticky
switchport port-security maximum 1
{%     else %}
switchport port-security
switchport port-security mac-address {{ interface['portsecurity'] }}
{%     endif %}
{%   else %}
no switchport port-security
no switchport port-security mac-address 
no switchport port-security maximum
{%   endif %}
{% endif %}
{# #}
{% if parameter == 'customstatements' %}
{%   if 'customstatements' in interface %}
{%     for statement in interface['customstatements'] %}
{{ statement }}
{%     endfor %}
{%   endif %}
{% endif %}
{% endmacro %}